body {
  margin: 0;
  padding: 0;
  /* width: 100vw;
    height: 100vh; */
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#image-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  cursor: pointer;
  flex-wrap: wrap;
  overflow: auto;
}

#image-gallery-text,
#current-location-text {
  color: white;
  background-color: black;
  padding: 1rem;
}

#image-gallery-text {
  /* add border radius to only bottom corners */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#location-button:hover,
#next-button:hover {
  color: black;
  background: white;
}

#location-button {
  position: absolute;
  top: 10%;
  left: 2%;
  padding: 1rem;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 10rem;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  body {
    overflow-y: auto;
  }

  #image-gallery img {
    width: 100vw;
  }
}

#geocodeMap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#map {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 200px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 16px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #000000;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

/* select the search engine and change the background and font color */
.mapboxgl-ctrl-geocoder {
  background-color: transparent;
  color: white;
  border-radius: 1rem 0 0rem 1rem;
}

/* select all children elements of the search engine and make sure they are black and white too  */

.mapboxgl-ctrl-geocoder * {
  background-color: black !important;
  color: white !important;
  border-radius: 1rem;
}

/* make sure that the geocoder does not have an outline when it is selected */
.mapboxgl-ctrl-geocoder input:focus {
  outline: none;
}

/* increase the size of the popup close button */
.mapboxgl-popup-close-button {
  font-size: 1.25rem;
}

/* Change the background and dimensions of the popup to a cool color */
.mapboxgl-popup-content {
  background: linear-gradient(#e664642d, #9198e5b0);
  width: fit-content;
  outline: 2px solid black;
  color: white;
  backdrop-filter: blur(5px);
}

/* Change the little tip of the popup to black */
.mapboxgl-popup-tip {
  border-top-color: black !important;
  border-bottom-color: black !important;
}

.map-overlay {
  position: absolute;
  right: 0;
  background: black;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  color: white;
  border: 1px solid white;

}
 
/* place the info panel top right */
#features {
  top: 0;
  margin-top: 20px;
  width: 250px;
}

#features h2,
#features h3 {
  padding: 0 10px;
}

/* place the legend bottom right */
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 40px;
  bottom: 0;
}

/* landuse-legend */
#landuse-legend {
  padding: 10px;
  margin: 1rem;
  bottom: 0;
  left: 0;
  width: fit-content;
}

/* adjust legend info */
#legend-title,
#legend-description {
  color: #fff;
  margin: 0.5rem 0;
}

/* set the container for the legend squares to flex */
.legend-items {
  display: flex;
}

.legend-section {
  padding-bottom: 20px
}

.legend-section-no-check {
  float:left;
  display:inline;
  width: 90%;
}

.legend-check {
  top:50%;
  float:left;
  display:inline;
  width:9%;
}

.legend-point {
  float:left;
  display:inline;
  width: 15%;
}

.legend-point-label {
  float:left;
  display: inline;
  width:85%;
}

.legend-item-label {
  margin: 0 0.5rem;
  display: inline-block;
}


img {
  width: 90%;
  height: auto;
  margin: 0.5rem;
}

/* adjust legend squares */
.legend-key {
  display: inline-block;
  width: 50px;
  height: 30px;
}


.mapboxgl-popup * {
  margin: 0.25rem;
}

/* mobile only */
@media screen and (max-width: 600px) {
 
  body {
      overflow: hidden;
  }

  .map-overlay {
      margin: 0;
  }

  #legend {
      z-index: 10;
      width: 100%;
      left: 0;
      margin: 0;
      border: none;
      padding: 10px 0;

  }

  #features {
      top: 0;
      margin-top: 0;
      width: 100%;
      padding: 5px 0;
      border: none;
  }
}
