body {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
 
#image-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    cursor: pointer;
    flex-wrap: wrap;
    overflow: auto;
}
 
#image-gallery-text,
#current-location-text {
    color: white;
    background-color: black;
    padding: 1rem;
}
 
#image-gallery-text {
    /* add border radius to only bottom corners */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#location-button:hover,
#next-button:hover {
  color: black;
  background: white;
}
 
#location-button {
  position: absolute;
  top: 10%;
  left: 2%;
  padding: 1rem;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 10rem;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
    body {
        overflow-y: auto;
    }
    #image-gallery img {
        width: 100vw;
    }
}

#geocodeMap {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#reportMap {
    position: absolute;
    width: 100vw;
    height: 100vh;
}